{% extends 'base.html.twig' %}

{% block body %}
    {% for flash_message in app.session.flashBag.get('delete') %}
        <div class="alert alert-warning">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            {{ flash_message }}
            <a href="{{ path('_deleteConfirmFachbereich', {'fachbereichId': fachbereich.getFachbereichId()}) }}">
                Fachbereich Löschen
            </a>
        </div>
    {% endfor %}
    <dl class="dl-horizontal">
        <dt>Fachbereich</dt>
        <dd>
            <a href="{{ path('_editFachbereich', {'fachbereichId': fachbereich.getFachbereichId()}) }}" class="btn btn-sm btn-default">
                <span class="glyphicon glyphicon-pencil"></span> Bearbeiten
            </a>

            <a href="{{ path('_deleteFachbereich', {'fachbereichId': fachbereich.getFachbereichId()}) }}" class="btn btn-sm btn-default">
                <span class="glyphicon glyphicon-trash"></span> Löschen
            </a>
        </dd>

        <dt>ID</dt>
        <dd>{{ fachbereich.getFachbereichId() }}</dd>

        <dt>Bezeichnung</dt>
        <dd>{{ fachbereich.getBezeichnung() }}</dd>
    </dl>

    <a href="{{ path('_showFachbereiche') }}" class="btn btn-default">
        zurück
    </a>
{% endblock %}