<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}DoMaS{% endblock %}</title>
        <link href='https://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
        <link href="{{ asset('assets/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('assets/css/daterangepicker.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('assets/css/style.css') }}" rel="stylesheet" type="text/css" />
        {% block stylesheets %}{% endblock %}
        <!-- favicons -->
        <link rel="apple-touch-icon" sizes="57x57" href="{{ asset('assets/images/favicons/apple-icon-57x57.png') }}">
        <link rel="apple-touch-icon" sizes="60x60" href="{{ asset('assets/images/favicons/apple-icon-60x60.png') }}">
        <link rel="apple-touch-icon" sizes="72x72" href="{{ asset('assets/images/favicons/apple-icon-72x72.png') }}">
        <link rel="apple-touch-icon" sizes="76x76" href="{{ asset('assets/images/favicons/apple-icon-76x76.png') }}">
        <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('assets/images/favicons/apple-icon-114x114.png') }}">
        <link rel="apple-touch-icon" sizes="120x120" href="{{ asset('assets/images/favicons/apple-icon-120x120.png') }}">
        <link rel="apple-touch-icon" sizes="144x144" href="{{ asset('assets/images/favicons/apple-icon-144x144.png') }}">
        <link rel="apple-touch-icon" sizes="152x152" href="{{ asset('assets/images/favicons/apple-icon-152x152.png') }}">
        <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('assets/images/favicons/apple-icon-180x180.png') }}">
        <link rel="icon" type="image/png" sizes="192x192"  href="{{ asset('assets/images/favicons/android-icon-192x192.png') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('assets/images/favicons/favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="96x96" href="{{ asset('assets/images/favicons/favicon-96x96.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('assets/images/favicons/favicon-16x16.png') }}">
        <link rel="manifest" href="{{ asset('assets/images/favicons/manifest.json') }}">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">
    </head>
    <body class="{% block bodyclass %}{% endblock %}">
        <div class="header container-fluid">
            <div class="container">
                {% block header %}
                    {% if is_granted("IS_AUTHENTICATED_FULLY") %}
                        <div class="pull-left">Angemeldet als: {{ app.user.username }}</div>
                        <div class="pull-right"><a href="{{ path('_logout') }}">Logout</a></div>
                    {% else %}
                        <div class="pull-right"><a href="{{ path('_login') }}">Login</a></div>
                    {% endif %}
                {% endblock %}
            </div>
        </div>

        {% block top %}
            <div class="top container-fluid">
                <form method="get" name="form" id="form" action="{{ path('_suche') }}" class="container form-horizontal">
                    <input type="hidden" id="hdn-collapse" name="form[hdncollapse]" value="collapsed">

                    <div class="row">
                        <div class="col-sm-2">
                            <a class="hompage" href="{{ path('_default') }}">DoMaS</a>
                        </div>

                        {% if is_granted("IS_AUTHENTICATED_FULLY") %}
                        <div class="col-sm-8 suchcontainer">
                            <div class="col-sm-8 nopadding">
                                <input id="form_freitext" name="form[freitext]" title="Suchbegriff" class="form-control" type="text" value="" placeholder="Archivierungen durchsuchen">
                            </div>
                            <div class="col-sm-4 nopadding suchbutton">
                                <button type="submit" class="btn btn-red" name="form[submittop]"><span class="glyphicon glyphicon-search"></span></button>
                            </div>
                        </div>
                        {% endif %}

                    </div>
                </form>
            </div>
        {% endblock %}

        <div class="body container">
            {% block body %}{% endblock %}
        </div>

        <div class="footer container">
            {% block footer %}{% endblock %}
        </div>

        <script src="{{ asset('assets/js/jquery.min.js') }}"></script>
        <script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('assets/js/typeahead.bundle.min.js') }}"></script>
        <script src="{{ asset('assets/js/moment.min.js') }}"></script>
        <script src="{{ asset('assets/js/daterangepicker.js') }}"></script>
        <script src="{{ asset('assets/js/scripts.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
