{% extends 'base.html.twig' %}

{% block bodyclass %}index{% endblock %}

{% block body %}
    <h1>DoMaS<small>Archivierungssystem der Hochschule Düsseldorf</small></h1>

    <div class="row">
        <div class="col-sm-4 col-sm-offset-2">
            <div class="transparent">
                <a href="#">
                    <div class="circle center-block">
                        <span class="glyphicon glyphicon-cloud-upload" aria-hidden="true"></span>
                    </div>
                    <a href="{{ path('_neuArchivierung') }}" class="btn btn-block">
                        Dokument hochladen
                    </a>
                </a>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="transparent">
                <form method="get" name="form" id="form" class="form-horizontal" action="{{ path('_suche') }}">

                    <div class="circle center-block">
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                    </div>

                    <div>
                        <input id="form_freitext" name="form[freitext]" title="Suchbegriff" class="form-control" type="text" value="" placeholder="Archivierungen durchsuchen">
                        <button type="submit" class="btn" name="form[submit]">Suchen</button>
                    </div>

                    {{ form_widget(form._token) }}
                </form>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <div class="transparent" style="height: auto; padding-bottom: 30px; padding-top: 30px">
                <a href="{{ path('_showStudiengaenge') }}" class="btn btn-block">
                    Studiengänge
                </a>

                <a href="{{ path('_showFachbereiche') }}" class="btn btn-block">
                    Fachbereiche
                </a>
            </div>
        </div>
    </div>
{% endblock %}

