{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}

{% block bodyclass %}archivierung-form{% endblock %}

{% block title %}{{ parent() }} | Neue Archivierung{% endblock %}

{% block body %}
    {#{dump(form.zusaetze)}}#}
    {% set zusatzCount = 0 %}
    {% set keywordCount = 0 %}
    {% set prototypeId = form_widget(form.zusaetze.vars.prototype.archivZusatzKategorieId) %}
    {% set prototypeBezeichnung = form_widget(form.zusaetze.vars.prototype.bezeichnung) %}
    <form class="form-horizontal" method="post" name="form">
        <h1>
            {% block headline %}
                <select id="form_kategorie" class="form-control" required="required" name="form[kategorie]">
                    {% for key,val in form.kategorie.vars.choices %}
                        <option value="{{ val.value }}" {{  form.kategorie.vars.value == '' and key==0 ? ' selected ' :(val.value == form.kategorie.vars.value ? ' selected ' : '') }}>{{ val.label | trans }}</option>
                    {% endfor %}
                </select>
                archivieren
            {% endblock %}
        </h1>
        <div class="body container">
            {% for flash_message in app.session.flashBag.get('success') %}
                <div class="alert alert-success">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    {{ flash_message }}
                </div>
            {% endfor %}

        <form class="form-horizontal" method="post" name="form" enctype="multipart/form-data">
            <div id="form">
                <div class="form-group">
                    <label class="col-sm-2 control-label required" for="form_titel">Titel</label>
                    <div class="col-sm-10">
                        <input id="form_titel" class="form-control" type="text" required="required" name="form[titel]" value="{{ form.titel.vars.value }}">
                    </div>
                </div>
                <div class="form-group">
                    {% set zusatzKategorie = 1 %}
                    <label class="col-sm-2 control-label required" for="form_autor">Autor</label>
                    <div class="col-sm-10">
                        <ul class="zusaetze" data-button="Autor" data-zusatzkategorie="{{ zusatzKategorie }}" data-id="{{ prototypeId|e('html_attr') }}" data-bezeichnung="{{ prototypeBezeichnung|e('html_attr') }}">
                            {% for zusatz in form.zusaetze %}
                                {% if zusatz.vars.value.archivZusatzKategorieId == zusatzKategorie %}
                                    <li>
                                        <div class="col-sm-10">
                                            <input type="hidden" id="form_zusaetze_{{ zusatzCount }}_archivZusatzKategorieId" name="form[zusaetze][{{ zusatzCount }}][archivZusatzKategorieId]" required="required" class="form-control" value="{{ zusatz.vars.value.archivZusatzKategorieId }}" />
                                            <input type="text" id="form_zusaetze_{{ zusatzCount }}_bezeichnung" name="form[zusaetze][{{ zusatzCount }}][bezeichnung]" required="required" class="form-control" value="{{ zusatz.vars.value.bezeichnung }}" />
                                        </div>
                                    </li>

                                    {% set zusatzCount = zusatzCount + 1 %}
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label required" for="form_fachbereich">Fachbereich & Studiengang</label>
                    <div class="col-sm-10">
                        <select id="form_fachbereich" class="form-control" required="required" name="form[fachbereich]">
                            {% for key,val in form.fachbereich.vars.choices %}
                                <option value="{{ val.value }}" {{  form.fachbereich.vars.value == '' and key==0 ? ' selected ' :(val.value == form.fachbereich.vars.value ? ' selected ' : '') }}>{{ val.label | trans }}</option>
                            {% endfor %}
                        </select>
                        <select id="form_studiengang" class="form-control" required="required" name="form[studiengang]">
                            {% for key,val in form.studiengang.vars.choices %}
                                <option value="{{ val.value }}" {{  form.studiengang.vars.value == '' and key==0 ? ' selected ' :(val.value == form.studiengang.vars.value ? ' selected ' : '') }}>{{ val.label | trans }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label required" for="form_beschreibung">Beschreibung</label>
                    <div class="col-sm-10">
                        <textarea id="form_beschreibung" class="form-control" required="required" name="form[beschreibung]">{{ form.beschreibung.vars.value }}</textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label required" for="form_abgabedatum">Abgabedatum</label>
                    <div class="col-sm-10">
                        <input id="form_abgabedatum" class="form-control datepicker-single" type="text" value="{{ form.abgabedatum.vars.value }}" required="required" name="form[abgabedatum]">
                    </div>
                </div>
                {% block erstelldatum %}{% endblock %}
                <div class="form-group">
                    {% set zusatzKategorie = 2 %}
                    <label class="col-sm-2 control-label required" for="form_betreuer">Betreuer</label>
                    <div class="col-sm-10">
                        <ul class="zusaetze" data-button="Betreuer" data-zusatzkategorie="{{ zusatzKategorie }}" data-id="{{ prototypeId|e('html_attr') }}" data-bezeichnung="{{ prototypeBezeichnung|e('html_attr') }}">
                            {% for zusatz in form.zusaetze %}
                                {% if zusatz.vars.value.archivZusatzKategorieId == zusatzKategorie %}
                                    <li>
                                        <div class="col-sm-10">
                                            <input type="hidden" id="form_zusaetze_{{ zusatzCount }}_archivZusatzKategorieId" name="form[zusaetze][{{ zusatzCount }}][archivZusatzKategorieId]" required="required" class="form-control" value="{{ zusatz.vars.value.archivZusatzKategorieId }}" />
                                            <input type="text" id="form_zusaetze_{{ zusatzCount }}_bezeichnung" name="form[zusaetze][{{ zusatzCount }}][bezeichnung]" required="required" class="form-control" value="{{ zusatz.vars.value.bezeichnung }}" />
                                        </div>
                                    </li>
                                    {% set zusatzCount = zusatzCount + 1 %}
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="form-group">
                    {% set zusatzKategorie = 3 %}
                    <label class="col-sm-2 control-label required" for="form_unternehmen">Betreuendes Unternehmen</label>
                    <div class="col-sm-10">
                        <ul class="zusaetze" data-button="Unternehmen" data-zusatzkategorie="{{ zusatzKategorie }}" data-id="{{ prototypeId|e('html_attr') }}" data-bezeichnung="{{ prototypeBezeichnung|e('html_attr') }}">
                            {% for zusatz in form.zusaetze %}
                                {% if zusatz.vars.value.archivZusatzKategorieId == zusatzKategorie %}
                                    <li>
                                        <div class="col-sm-10">
                                            <input type="hidden" id="form_zusaetze_{{ zusatzCount }}_archivZusatzKategorieId" name="form[zusaetze][{{ zusatzCount }}][archivZusatzKategorieId]" required="required" class="form-control" value="{{ zusatz.vars.value.archivZusatzKategorieId }}" />
                                            <input type="text" id="form_zusaetze_{{ zusatzCount }}_bezeichnung" name="form[zusaetze][{{ zusatzCount }}][bezeichnung]" required="required" class="form-control" value="{{ zusatz.vars.value.bezeichnung }}" />
                                        </div>
                                    </li>

                                    {% set zusatzCount = zusatzCount + 1 %}
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label required" for="form_dateiuploads">Dateiuploads</label>
                    <div class="col-sm-10">
                     Datei auswaehlen:
					<input type="file" name="fileToUpload" id="fileToUpload"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label required" for="form_referenzen">Referenzen in DoMaS</label>
                    <div class="col-sm-10">
                        Hier Referenzen
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label required" for="form_dateiuploads">Keywords</label>
                    <div class="col-sm-10">
                        <ul class="keywords" data-prototype="{{ form_widget(form.keywords.vars.prototype.keyword)|e('html_attr') }}">
                            {% for keyword in form.keywords %}
                                <li>
                                    <div class="col-sm-10">
                                        <input type="text" id="form_keywords_{{ keywordCount }}_keyword" name="form[keywords][{{ keywordCount }}][keyword]" required="required" class="form-control" value="{{ keyword.vars.value.keyword }}" />
                                    </div>
                                </li>

                                {% set keywordCount = keywordCount + 1 %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-10">
                        {% block zurueckButton %}
                            <a href="{{ path('_suche')}}" class="btn btn-default">zur Suche</a>
                        {% endblock %}
                        <button type="submit" id="form_speichern" name="form[speichern]" class="btn-red btn">speichern</button>
                    </div>
                </div>
            </div>
            {{ form_widget(form._token) }}
        </div>
    </form>
{% endblock %}

{% block javascripts %}


    <script type="text/javascript">
        var $collectionHolder;

        function addZusatzForm($collectionHolder, $newLinkLi) {
            // Get the data-prototype explained earlier
            var prototypeId = $collectionHolder.data('id');
            var prototypeBezeichnung = $collectionHolder.data('bezeichnung');

            // get the new index
            var index = $collectionHolder.data('index');

            // Replace '__name__' in the prototype's HTML to
            // instead be a number based on how many items we have
            var newForm = prototypeId.replace(/__name__/g, index)
                    + prototypeBezeichnung.replace(/__name__/g, index);

            // increase the index with one for the next item
            $('ul.zusaetze').data('index', index + 1);

            // Display the form in the page in an li, before the "add" link li
            var $newFormLi = $('<li></li>').append(newForm);

            $newLinkLi.before($newFormLi);
            $newFormLi.wrapInner('<div class="col-sm-10"></div>');

            // set the ID in the hidden field
            $newFormLi.find("input[id$='archivZusatzKategorieId']").val($collectionHolder.data('zusatzkategorie'));

            // add a delete link
            addZusatzFormDeleteLink($newFormLi);
        }

        function addZusatzFormDeleteLink($zusatzFormLi) {
            var $removeFormA = $('<a href="#" class="btn"><span class="glyphicon glyphicon-trash"></span> entfernen</a>');
            $zusatzFormLi.append($removeFormA);

            $removeFormA.on('click', function(e) {
                // prevent the link from creating a "#" on the URL
                e.preventDefault();

                // remove the li for the form
                $zusatzFormLi.remove();
            });
        }

        jQuery(document).ready(function() {
            var $addZusatzLink = $('<a href="#" class="btn add_zusatzlink"><span class="glyphicon glyphicon-plus"></span> Zusatz hinzufügen</a>');
            var $newLinkLi = $('<li></li>').append($addZusatzLink);

            // Get the ul that holds the collection
            $collectionHolder = $('ul.zusaetze');

            // add a delete link to all of the existing keyword form li elements
            $collectionHolder.find('li').each(function() {
                addZusatzFormDeleteLink($(this));
            });

            // add the "add" anchor and li to the ul
            $collectionHolder.append($newLinkLi);

            // count the current form inputs
            $collectionHolder.data('index', $collectionHolder.find(':input').length / 2);

            $('.add_zusatzlink').each(function() {
                // change the "add" link text
                var text = $(this).closest('ul.zusaetze').data('button');
                $(this).html('<span class="glyphicon glyphicon-plus"></span>' + text + ' hinzufügen');
            }).on('click', function(e) {
                // prevent the link from creating a "#" on the URL
                e.preventDefault();

                // add a new form
                addZusatzForm($(this).closest('ul.zusaetze'), $(this));
            });
        });
    </script>
{% endblock %}


