{% extends 'archivierung/form.html.twig' %}

{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}

{% block bodyclass %}archivierung-form-edit{% endblock %}

{% block title %}{{ parent() }} | Archivierung Bearbeiten{% endblock %}

{% block headline %}
    <select id="form_kategorie" class="form-control" required="required" name="form[kategorie]">
        {% for key,val in form.kategorie.vars.choices %}
            <option value="{{ val.value }}" {{  form.kategorie.vars.value == '' and key==0 ? ' selected ' :(val.value == form.kategorie.vars.value ? ' selected ' : '') }}>{{ val.label | trans }}</option>
        {% endfor %}
    </select>
    bearbeiten #{{ form.vars.data.archivId }}
{% endblock %}

{% block erstelldatum %}
{% endblock %}

{% block zurueckButton %}
    <a href="{{ path('_detailView', {'archivId': form.vars.data.archivId, 'zurueckButton': 'zurueck'}) }}" class="btn btn-default">zur Detailansicht</a>
{% endblock %}