{% extends 'archivierung/detailView/baseArchivierung.html.twig' %}

{% block spezifischeAttribute %}

        <dt>Fachbereich</dt>
        <dd>{{ archivierung.getFachbereich().getBezeichnung() }}</dd>

        <dt>Studiengang</dt>
        <dd>{{ archivierung.getStudiengang().getBezeichnung() }}</dd>

        <dt>Beschreibung</dt>
        <dd><span>{{ archivierung.getBeschreibung() }}</span></dd>

        <dt>Betreuer</dt>
        {% set betreuer1, betreuer2 = null, null %}
        {% for betreuer in archivierung.getZusaetze() %}
            {% if betreuer.getZusatzKategorie().getBezeichnung() == "Betreuer"  %}
                {% if betreuer1 is null %}
                    {% set betreuer1 = betreuer.getBezeichnung() %}
                {% else %}
                    {% set betreuer2 = betreuer.getBezeichnung() %}
                {% endif %}
            {% endif %}
        {% endfor %}
        <dd>{{ betreuer1 }}</dd>
        <dd>{{ betreuer2 }}</dd>

        <dt>Unternehmen</dt>
        <dd>
            {% for unternehmen in archivierung.getZusaetze() %}
                {% if unternehmen.getZusatzKategorie().getBezeichnung() == "Unternehmen"  %}
                    {{ unternehmen.getBezeichnung() }}
                {% endif %}
            {% endfor %}
        </dd>

        <dt>Keywords</dt>
        <dd>
            {% set isFirstOne = true %}
            {% for keyword in archivierung.getKeywords() %}
                {% if isFirstOne == false %}
                    {{ ", " }}
                {% endif %}
                {{ keyword.getKeyword() }}
                {% set isFirstOne = false %}
            {% endfor %}
        </dd>

{% endblock %}