{% extends 'archivierung/detailView/base.html.twig' %}

{% block spezifischeAttribute %}

        <dt>Fachbereich und Studiengang</dt>
        <dd>{{ archivierung.getFachbereich().getBezeichnung() ~ " " ~ archivierung.getStudiengang().getBezeichnung() }}</dd>

        <dt>Beschreibung</dt>
        <dd><p>{{ archivierung.getBeschreibung() }}</p></dd>

        <dt>Betreuer 1 & 2</dt>

            {% set betreuer1, betreuer2 = null, null %}

            {% for betreuer in archivierung.getZusaetze() %}
                {% if betreuer.getZusatzKategorie().getBezeichnung() == "Betreuer"  %}
                   {% if betreuer1 is not null %}
                       {% set betreuer1 = betreuer.getBezeichnung() %}
                   {% else %}
                       {% set betreuer2 = betreuer.getBezeichnung() %}
                   {% endif %}
                {% endif %}
            {% endfor %}

        <dd>{{ betreuer1 ~ " & " ~ betreuer2 }}</dd>

        <dt>Unternehmen</dt>
        {% for unternehmen in archivierung.getZusaetze() %}
            {% if unternehmen.getZusatzKategorie().getBezeichnung() == "Unternehmen"  %}
                <dd>{{ unternehmen.getBezeichnung() }}</dd>
            {% endif %}
        {% endfor %}

        <dt>Keywords</dt>
        <dd>
        {% for keyword in archivierung.getKeywords() %}
            {{ keyword.getKeyword() ~ " " }}
        {% endfor %}
        </dd>

{% endblock %}