{% extends 'base.html.twig' %}

{% block bodyclass %}detailView{% endblock %}

{% block body %}

    {% for flash_message in app.session.flashBag.get('success') %}
        <div class="alert alert-success">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            {{ flash_message }}
        </div>
    {% endfor %}

    <h1>Detailansicht</h1>

{#
    <a href="{{ path('_editArchivierung', {'archivId': archivierung.getArchivId()}) }}" class="btn btn-sm btn-default">
        <span class="glyphicon glyphicon-pencil"></span> Bearbeiten
    </a>

    <a href="{{ path('_deleteArchivierung', {'archivId': archivierung.getArchivId()}) }}" class="btn btn-sm btn-default">
        <span class="glyphicon glyphicon-trash"></span> Löschen
    </a>
#}

    {# TODO Einsicht erlauben wenn aktiver User == Ersteller (oder Prof?) #}
    {% if archivierung.getSichtbarkeit() == 0 %}
        <div class="giftschrankMessage1">Archivierung mit eingeschränkter Sichtbarkeit</div>

        {% block giftschrankMessage %}
            <div class="giftschrankMessage2">Für Einsicht bitte den angegebenen Betreuer kontaktieren</div>
        {% endblock %}

    {% endif %}


    <dl class="dl-horizontal {% block archivKategorie %}archivierungRaw{% endblock %}">

        <dt>Archiv-ID</dt>
        <dd>{{ archivierung.getArchivId() }}</dd>

        <dt>Kategorie</dt>
        <dd>{{ archivierung.getKategorie().getBezeichnung() }}</dd>


        {% block spezifischeAttributeOben %}{% endblock %}


        <dt>Abgabedatum</dt>
        <dd>
            {% if archivierung.getAbgabedatum() is not null %}
                {{ archivierung.getAbgabedatum().format('d.m.Y') }}
            {% endif %}
        </dd>


        {% block spezifischeAttributeMitte %}{% endblock %}


        {% if archivierung.getSichtbarkeit() == 1 %}

            <dt>Datei-Anhänge</dt>
            {% for anhang in archivierung.getAnhaenge() %}
                {% if anhang.getVersionsnummer() is not null %}
                    <dd><a href="{{ anhang.getPfad() }}"><span class="glyphicon glyphicon-paperclip"></span>{{ anhang.getDateiKategorie().getBezeichnung ~ " - Version: " ~ anhang.getVersionsnummer() }}</a></dd>
                {% else %}
                    <dd><a href="{{ anhang.getPfad() }}"><span class="glyphicon glyphicon-paperclip"></span>{{ anhang.getDateiKategorie().getBezeichnung }}</a></dd>
                {% endif %}
            {% endfor %}
            {% if archivierung.getAnhaenge()|length <= 0 %}
                <dd></dd>
            {% endif %}

            <dt>Referenzen in DoMas</dt>
            {% for referenz in archivierung.getReferenzen() %}
                <dd><a href="{{ path('_detailView', {'archivId': referenz.getArchivId()}) }}"><span class="glyphicon glyphicon-link"></span> {{ referenz.getTitel() }}</a></dd>
            {% endfor %}
            {% if archivierung.getReferenzen()|length <= 0 %}
                <dd></dd>
            {% endif %}

        {% endif %}

        <dt title="Uploader in DoMaS">Ersteller</dt>
        <dd title="Uploader in DoMaS">{{ archivierung.getBenutzer().getVorname() ~ "" ~ archivierung.getBenutzer().getNachname() }}</dd>

        <dt title="Uploaddatum in DoMaS">Erstelldatum</dt>
        <dd title="Uploaddatum in DoMaS">{{ archivierung.getErstelldatum().format('d.m.Y') }}</dd>


        {% block spezifischeAttributeUnten %}{% endblock %}

    </dl>

    {% if app.request.headers.get('referer') is null %}
        <a href="{{ path('_default') }}" class="btn btn-default">
            zurück
        </a>
    {% else %}
        <a href="{{ app.request.headers.get('referer') }}" class="btn btn-default">
            zurück
        </a>
    {% endif %}



{% endblock %}