{% extends 'base.html.twig' %}

{% block bodyclass %}detailView{% endblock %}

{% block title %}{{ parent() }} | Detailansicht{% endblock %}

{% block body %}

    {% for flash_message in app.session.flashBag.get('success') %}
        <div class="alert alert-success">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            {{ flash_message }}
        </div>
    {% endfor %}


    <h1>{{ archivierung.getTitel() }}</h1>

    <a href="{{ path('_editArchivierung', {'archivId': archivierung.getArchivId()}) }}" class="btn btn-sm btn-default">
        <span class="glyphicon glyphicon-pencil"></span> Bearbeiten
    </a>


{#  TODO einbauen
    <a href="{{ path('_deleteArchivierung', {'archivId': archivierung.getArchivId()}) }}" class="btn btn-sm btn-default">
        <span class="glyphicon glyphicon-trash"></span> Löschen
    </a>
#}

    {# TODO: Link wieder entfernen #}
    <a href="{{ path('_editZusaetze', {'archivId': archivierung.getArchivId()}) }}" class="btn btn-sm btn-default">
        <span class="glyphicon glyphicon-info-sign"></span> Zusätze
    </a>

    <div class="row">
        <div class="col-md-7">
            <dl class="dl-horizontal">

                <dt>Archiv-ID</dt>
                <dd>{{ archivierung.getArchivId() }}</dd>

                <dt>Kategorie</dt>
                <dd>{{ archivierung.getKategorie().getBezeichnung() }}</dd>


                {% block spezifischeAttributeOben %}{% endblock %}


                <dt>Abgabedatum</dt>
                <dd>
                    {% if archivierung.getAbgabedatum() is not null %}
                        {{ archivierung.getAbgabedatum().format('d.m.Y') }}
                    {% endif %}
                </dd>

                <dt>Beschreibung</dt>
                <dd><span>{{ archivierung.getBeschreibung() }}</span></dd>


                {% block spezifischeAttributeMitte %}{% endblock %}


                <dt title="Uploader in DoMaS">Ersteller</dt>
                <dd title="Uploader in DoMaS">{{ archivierung.getBenutzer().getVorname() ~ "" ~ archivierung.getBenutzer().getNachname() }}</dd>

                <dt title="Uploaddatum in DoMaS">Erstelldatum</dt>
                <dd title="Uploaddatum in DoMaS">{{ archivierung.getErstelldatum().format('d.m.Y') }}</dd>
            </dl>
        </div>

        {#Rechter Kasten:#}

        {% set hasAnhaenge = (archivierung.getAnhaenge() |length > 0) %}
        {% set hasReferenzen = (archivierung.getReferenzen() |length > 0) %}
        {% set hasKeywords = (archivierung.getKeywords() |length > 0) %}
        {% set isErsteller = 0 %}
        {% set isAdmin = 0 %}       {#TODO Authentifizierung#}
        {% set isProf = 0 %}

        {% if hasAnhaenge or hasReferenzen or hasKeywords %}
            <div class="col-md-5">

                <dl class="dl-horizontal anhang-container">

                    {% if archivierung.getSichtbarkeit() == 0 and isErsteller == 0 and isAdmin == 0 and isProf == 0 %}
                        <section class="nichtSichtbarMsg">
                            <div class="giftschrankMessage1">Archivierung mit eingeschränkter Sichtbarkeit</div>
                            <div class="giftschrankMessage2">
                                {% block nichtSichtbarMssg %}Für Einsicht bitte den angegebenen Ersteller kontaktieren{% endblock %}
                            </div>
                        </section>

                    {% else %}

                        {% if hasAnhaenge %}
                            <dt>Datei-Anhänge</dt>
                            {% for anhang in archivierung.getAnhaenge() %}

                                {#Gutachten verbergen#}
                                {% if isErsteller == 0 and isAdmin == 0 and anhang.getDateiKategorie().getBezeichnung() != 'Gutachten' %}
                                    <dd>
                                        <a href="{{ path('_detailViewFile', {'anhangId' : anhang.getArchivAnhangId()}) }}" target="_blank">
                                            <span class="glyphicon glyphicon-paperclip"></span>
                                            {{ anhang.getDateiKategorie().getBezeichnung() ~ " - " ~ anhang.getPfad() }}
                                            {% if anhang.getVersionsnummer() is not null %}
                                                    {{ " - Version: " ~ anhang.getVersionsnummer() }}
                                            {% endif %}
                                        </a>
                                    </dd>
                                {% endif %}
                            {% endfor %}
                        {% endif %}

                        {% if hasReferenzen %}
                            <dt>Referenzen in DoMas</dt>

                            {% for referenz in archivierung.getReferenzen() %}
                                <dd><a href="{{ path('_detailView', {'archivId': referenz.getArchivId()}) }}"><span class="glyphicon glyphicon-link"></span> {{ referenz.getTitel() }}</a></dd>
                            {% endfor %}
                        {% endif %}

                    {% endif %}

                    {% if hasKeywords %}
                        <dt>Keywords</dt>
                        <dd>
                            {% set isFirstOne = true %}
                            {% for keyword in archivierung.getKeywords() %}
                                {% if isFirstOne == false %}
                                    {{ ", " }}
                                {% endif %}
                                {{ keyword.getKeyword() }}
                                {% set isFirstOne = false %}
                            {% endfor %}
                        </dd>
                    {% endif %}
                </dl>
            </div>
        {% endif %}

    </div>


    <a href="{{ path('_detailViewBack') }}" class="btn btn-default">
        zurück
    </a>




{% endblock %}