{% extends 'base.html.twig' %}

{% block bodyclass %}detailView{% endblock %}

{% block body %}
    {% for flash_message in app.session.flashBag.get('success') %}
        <div class="alert alert-success">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            {{ flash_message }}
        </div>
    {% endfor %}

    <h1>Detailansicht</h1>

    <a href="{{ path('_editArchivierung', {'archivId': archivierung.getArchivId()}) }}" class="btn btn-sm btn-default">
        <span class="glyphicon glyphicon-pencil"></span> Bearbeiten
    </a>

    <a href="{{ path('_deleteArchivierung', {'archivId': archivierung.getArchivId()}) }}" class="btn btn-sm btn-default">
        <span class="glyphicon glyphicon-trash"></span> Löschen
    </a>

    <dl class="dl-horizontal {% block archivKategorie %}archivierungRaw{% endblock %}">
        <dt>Archiv-ID</dt>
        <dd>{{ archivierung.getArchivId() }}</dd>

        <dt>Sichtbarkeit</dt>
        <dd>{{ archivierung.getSichtbarkeit() }}</dd>

        <dt>Titel</dt>
        <dd>{{ archivierung.getTitel() }}</dd>

        <dt>Autor</dt>
        {% for autor in archivierung.getZusaetze() %}
            {% if autor.getZusatzKategorie().getBezeichnung() == "Autor"  %}
                <dd>
                    {{ autor.getBezeichnung() }}
                    {% if autor.getMatrikelnummer() is not null %}
                        {{ autor.getMatrikelnummer() }}
                    {% endif %}
                </dd>
            {% endif %}
        {% endfor %}

        <dt>Abgabedatum</dt>
        <dd>{{ archivierung.getAbgabedatum() }}</dd>

        <dt>Erstellt am, von</dt>
        <dd>{{ archivierung.getErstelldatum() ~" | "~ archivierung.getBenutzer().getVorname() . archivierung.getBenutzer().getNachname() }}</dd>

        <dt>Anhänge</dt>
        {% for anhang in archivierung.getAnhaenge() %}
             <dd>{{ anhang.getPfad() }}</dd>
        {% endfor %}

        <dt>Referenz in DoMas</dt>
        {% for referenz in archivierung.getReferenzen() %}
            <dd><a href="{{ path('_detailView', {'archivierung': referenz}) }}"> {{ referenz.getTitel() }}</a></dd>
        {% endfor %}


        {% block spezifischeAttribute %}{% endblock %}

    </dl>

    {% if app.request.headers.get('referer') is not null %}
        <a href="{{ path('_default') }}" class="btn btn-default">
            zurück
        </a>
    {% else %}
        <a href="{{ app.request.headers.get('referer') }}" class="btn btn-default">
            zurück
        </a>
    {% endif %}



{% endblock %}